.hero::before{
  content:"";
  position:absolute;
  inset:0;

  background:
    linear-gradient(
      180deg,
      rgba(7,7,7,0.22) 0%,
      rgba(7,7,7,0.10) 38%,
      rgba(7,7,7,0.56) 100%
    ) !important;

  z-index:1 !important;
}
